<p id="notice"><%= notice %></p>

<h3>
  Pour saison <%= @week_info[:season] %>
  <% if (params[:season_total] == nil) then %>
    - semaine <%= @week_info[:week] %>
  <% end %>
</h3>

<% if (params[:season_total] == nil) then %>

<table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th colspan="7">Match</th>
      <% @poolers.each do |p| %>
        <th style="text-align: center"><%= p.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @week_data.each_with_index do |game, gi| %>
    <tr>
      <td><%= game["strAwayTeam"] %></td>
      <td style="text-align: center"><%= image_tag("#{game[:away_code]}.png", size: "21") %></td>
      <% if (game[:away_won]) %>
        <td>(<strong><%= game["intAwayScore"] %></strong>)</td>
      <% else %>
        <td>(<%= game["intAwayScore"] %>)</td>
      <% end %>
      <td>VS.</td>
      <% if (game[:home_won]) %>
        <td>(<strong><%= game["intHomeScore"] %></strong>)</td>
      <% else %>
        <td>(<%= game["intHomeScore"] %>)</td>
      <% end %>
      <td style="text-align: center"><%= image_tag("#{game[:home_code]}.png", size: "21") %></td>
      <td style="text-align: right"><%= game["strHomeTeam"] %></td>

      <% (0...@poolers.size).each do |pi| %>
        <% if (pi == 0) %>
          <td style="text-align: center; border-left: 2px solid #000">
            <%= @results[pi][gi] >= 0 ? "+#{@results[pi][gi]}" : '-' %>
          </td>
        <% else %>
          <td style="text-align: center">
            <%= @results[pi][gi] >= 0 ? "+#{@results[pi][gi]}" : '-' %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th colspan="7" style="text-align: center; border-top: 2px solid #000">Totals -></th>
    <% @totals.each do |t| %>
      <th style="text-align: center; border-top: 2px solid #000">
        <%= (t >= 0) ? t : '-' %>
      </th>
    <% end %>
  </tr>
  </tbody>
</table>

<div>
  Autres semaines
  <% (1..21).each do |w| %>
    <% if (w == @week_info[:week].to_i) then %>
      - <span><%= w %></span>
    <% else %>
      - <span><%= link_to "#{w}", pools_path(season: @week_info[:season], week: w) %></span>
    <% end %>
  <% end %>
</div>
<div>
  Total de la saison
  <%= link_to @week_info[:season], pools_path(season: @week_info[:season], season_total: true) %>
</div>

<% else %>

<table class="table table-sm table-bordered">
  <tr>
    <th>Semaines</th>
    <% @poolers.each do |pooler| %>
      <th><%= pooler.name %></th>
    <% end %>
  </tr>
  <% @results.each_with_index do |result, i| %>
    <tr>
      <td>Semaine <%= i+1 %></td>
      <% result.each do |score| %>
        <td><%= score %></td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th>Totals</th>
    <% @totals.each do |t| %>
      <th><%= t %></th>
    <% end %>
  </tr>
</table>

<div>
  <%= link_to "Retour", pools_path %>
</div>

<% end %>

<p>Pool: <%= @pool.name %> - <i>"<%= @pool.motp %>"</i></p>