<p id="notice"><%= notice %></p>

<h2>Pool: <%= @pool.name %></h2>
<h4>Pour saison <%= @week_info[:season] %> - semaine <%= @week_info[:week] %></h4>

<%= debug @results %>
<%= debug @totals %>

<table class="table table-sm">
  <thead>
    <tr>
      <th colspan="7">Match</th>
      <% @poolers.each do |p| %>
        <th style="text-align: center"><%= p.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @week_data.each_with_index do |game, gi| %>
    <tr>
      <td><%= game["strAwayTeam"] %></td>
      <td style="text-align: center"><%= image_tag("#{game[:away_code]}.png", size: "21") %></td>
      <% if (game[:away_won]) %>
        <td>(<strong><%= game["intAwayScore"] %></strong>)</td>
      <% else %>
        <td>(<%= game["intAwayScore"] %>)</td>
      <% end %>
      <td>VS.</td>
      <% if (game[:home_won]) %>
        <td>(<strong><%= game["intHomeScore"] %></strong>)</td>
      <% else %>
        <td>(<%= game["intHomeScore"] %>)</td>
      <% end %>
      <td style="text-align: center"><%= image_tag("#{game[:home_code]}.png", size: "21") %></td>
      <td style="text-align: right"><%= game["strHomeTeam"] %></td>

      <% (0...@poolers.size).each do |pi| %>
        <% if (pi == 0) %>
          <td style="text-align: center; border-left: 2px solid #000">
            <%= @results[pi][gi] >= 0 ? @results[pi][gi] : '-' %>
          </td>
        <% else %>
          <td style="text-align: center">
            <%= @results[pi][gi] >= 0 ? @results[pi][gi] : '-' %>
          </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <th colspan="7" style="text-align: center; border-top: 2px solid #000">Totals -></th>
    <% @totals.each do |t| %>
      <th style="text-align: center; border-top: 2px solid #000">
        <%= (t >= 0) ? t : '-' %>
      </th>
    <% end %>
  </tr>
  </tbody>
</table>

<p><i>"<%= @pool.motp %>"</i></p>