<p id="notice"><%= notice %></p>

<h1>Pool: <%= @pool.name %></h1>
<h3><%= @pool.motp %></h3>
<h4>Pour saison <%= @week_info[:season] %> - semaine <%= @week_info[:week] %></h4>

<table class="table table-sm">
  <thead>
    <tr>
      <th colspan="5">Match</th>
      <% @pool.poolers.each do |p| %>
        <th><%= p.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @week_data["events"].each do |game| %>
    <tr>
      <td><%= game["strAwayTeam"] %></td>
      <% if (game["intAwayScore"].to_i > game["intHomeScore"].to_i) %>
        <td>(<strong><%= game["intAwayScore"] %></strong>)</td>
      <% else %>
        <td>(<%= game["intAwayScore"] %>)</td>
      <% end %>
      <td>VS.</td>
      <% if (game["intHomeScore"].to_i > game["intAwayScore"].to_i) %>
        <td>(<strong><%= game["intHomeScore"] %></strong>)</td>
      <% else %>
        <td>(<%= game["intHomeScore"] %>)</td>
      <% end %>
      <td style="text-align: right"><%= game["strHomeTeam"] %></td>

      <% @pool.poolers.each do |p| %>
        <td style="text-align: center">+0</td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
