<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pool.name %>
</p>

<p>
  <strong>Motp:</strong>
  <%= @pool.motp %>
</p>

<%= render @pool.poolers %>

<%= link_to 'Modifier', edit_pool_path(@pool) %> |
<%= link_to 'Retour', pools_path %>
