<%= form_with(model: pooler, local: true) do |form| %>
  <% if pooler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pooler.errors.count, "error") %> prohibited this pooler from being saved:</h2>

      <ul>
        <% pooler.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :favTeam %>
    <%= form.text_field :favTeam %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
