<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pooler.name %>
</p>

<p>
  <strong>Favteam:</strong>
  <%= @pooler.favTeam %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @pool.name %>
</p>

<%= link_to 'Edit', edit_pooler_path(@pooler) %>
