<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pooler.name %>
</p>

<p>
  <strong>Favteam:</strong>
  <%= @pooler.favTeam %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @pooler.pool_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @pooler.user_id %>
</p>

<%= link_to 'Edit', edit_pooler_path(@pooler) %> |
<%= link_to 'Back', poolers_path %>
