<%= form_with(model: pick, local: true) do |form| %>
  <% if pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
        <% pick.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :season %>
    <%= form.text_field :season %>
  </div>

  <div class="field">
    <%= form.label :week %>
    <%= form.text_field :week %>
  </div>

  <div class="field">
    <%= form.label :pickstring %>
    <%= form.text_field :pickstring %>
  </div>

  <div class="field">
    <%= form.label :pooler_id %>
    <%= form.text_field :pooler_id %>
  </div>

  <div class="field">
    <%= form.label :pool_id %>
    <%= form.text_field :pool_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
