<%= form_with(model: pick, local: true) do |form| %>
  <% if pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
        <% pick.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row justify-content-center">
  <table class="w-50 table table-sm">
  <% @week_data.each do |game| %>
    <tr>
      <td style="text-align: right">
        <label for="<%= "pick_#{game['idEvent']}_#{game[:away_code]}" %>">
          <%= game["strAwayTeam"] %>
          <%= image_tag("#{game[:away_code]}.png", size: "21") %>
        </label>
      </td>
      <td>
        <input
          type="radio"
          name="<%= "pick[data][#{game['idEvent']}]" %>"
          id="<%= "pick_#{game['idEvent']}_#{game[:away_code]}" %>"
          value="<%= game[:away_code] %>"
          <% if(game[:home_code] == @favTeam) then %>
            <%= disabled="disabled" %>
          <% end %>
          <% if(game[:away_code] == @favTeam) then %>
            <%= checked="checked" %>
          <% end %>
        />
      </td>
      <td>
        VS.
      </td>
      <td>
        <input
          type="radio"
          name="<%= "pick[data][#{game['idEvent']}]" %>"
          id="<%= "pick_#{game['idEvent']}_#{game[:home_code]}" %>"
          value="<%= game[:home_code] %>"
          <% if(game[:away_code] == @favTeam) then %>
            <%= disabled="disabled" %>
          <% end %>
          <% if(game[:home_code] == @favTeam) then %>
            <%= checked="checked" %>
          <% end %>
        />
      </td>
      <td style="text-align: left">
        <label for="<%= "pick_#{game['idEvent']}_#{game[:home_code]}" %>">
          <%= image_tag("#{game[:home_code]}.png", size: "21") %>
          <%= game["strHomeTeam"] %>
        </label>
      </td>
    </tr>
  <% end %>
  </table>
  </div>

  <%= form.hidden_field(:season) %>
  <%= form.hidden_field(:week) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
