<%= form_with(model: pick, local: true) do |form| %>
  <% if pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
        <% pick.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% @week_data.each do |game| %>
    <ul>
      <li>
        <label for="<%= "pick_#{game['idEvent']}_#{game[:away_code]}" %>"><%= game["strAwayTeam"] %></label>
        <input
          type="radio"
          name="<%= "pick[data][#{game['idEvent']}]" %>"
          id="<%= "pick_#{game['idEvent']}_#{game[:away_code]}" %>"
          value="<%= game[:away_code] %>"
          <% if(game[:home_code] == @favTeam) then %>
            <%= disabled="disabled" %>
          <% end %>
          <% if(game[:away_code] == @favTeam) then %>
            <%= checked="checked" %>
          <% end %>
        />
        VS.
        <label for="<%= "pick_#{game['idEvent']}_#{game[:home_code]}" %>"><%= game["strHomeTeam"] %></label>
        <input
          type="radio"
          name="<%= "pick[data][#{game['idEvent']}]" %>"
          id="<%= "pick_#{game['idEvent']}_#{game[:home_code]}" %>"
          value="<%= game[:home_code] %>"
          <% if(game[:away_code] == @favTeam) then %>
            <%= disabled="disabled" %>
          <% end %>
          <% if(game[:home_code] == @favTeam) then %>
            <%= checked="checked" %>
          <% end %>
        />
      </li>
    </ul>
  <% end %>

  <%= form.hidden_field(:season) %>
  <%= form.hidden_field(:week) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
