<p id="notice"><%= notice %></p>

<h1>Picks - Saison <%= @max_season %></h1>

<div class="d-flex flex-wrap">
  <% @picks.each_with_index do |pick, i| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Semaine <%= i+1 %></h5>
        <p class="card-text">
          <% if (pick != nil) then %>
            <small class="text-muted"><%= link_to 'Show', pick %></small>
          <% else %>
            <small class="text-muted">
              <%= link_to 'New Pick', new_pick_path_url(:season=> @max_season, :week=> i+1) %>
            </small>
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>