<p id="notice"><%= notice %></p>

<h2>Choix pour saison <%= @pick.season %> - semaine <%= @pick.week %></h2>
<h4>Par <%= @pooler_name %></h4>

<table class="w-50 table table-sm table-bordered">
  <% @picks_data.each do |e| %>
    <tr>
      <td><%= e[:game] %></td>
      <td><%= e[:pick] %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', picks_path %>
