<p id="notice"><%= notice %></p>

<table class="table table-sm table-bordered">
  <tr>
    <th>Game</th>
    <% @poolers_data.each do |pooler| %>
      <th><%= pooler[:pooler_name] %></th>
    <% end %>
  </tr>

  <% @picks_data.each do |p| %>
  <tr>
    <td><%= p[:game] %></td>
    <% p[:picks].each do |t| %>
      <% if (t != nil) then %>
        <td style="text-align: center"><%= image_tag("#{t}.png", size: "21") %></td>
      <% else %>
        <td style="text-align: center"><%= t %></td>
      <% end %>
    <% end %>
  </tr>
  <% end %>
</table>

<%= link_to 'Retour', picks_path %>
