<p id="notice"><%= notice %></p>

<p>
  <strong>Season:</strong>
  <%= @pick.season %>
</p>

<p>
  <strong>Week:</strong>
  <%= @pick.week %>
</p>

<p>
  <strong>Pickstring:</strong>
  <%= @pick.pickstring %>
</p>

<p>
  <strong>Pooler:</strong>
  <%= @pick.pooler_id %>
</p>

<%= link_to 'Back', picks_path %>
